# Compiled output
/dist
/tmp
/out-tsc

# Node Modules
/node_modules
npm-debug.log
yarn-error.log

# IDE files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dotenv environment files
.env